/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #d5cece;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: black;
    color: #2d10ce;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffd700;
}

.hero {
    text-align: center;
    padding: 500px 0;
    background-image: url('background.jpg');
        background-size: center;
        background-position: center;
    color: white;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 3rem; 
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e6bb00;
}

.features {
    background-color: #3d2aa6;
    padding: 80px 0;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.feature-item {
    margin-bottom: 30px;
}

.about {
    background-color: #3d2aa6 ;
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    margin-bottom: 100px;
    font-size: 2.5rem;
}

.contact {
    background-color: black;
    color: red;
    padding: 80px 0;
    text-align: center;
}

.contact h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

#contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form textarea {
    resize: vertical;
    height: 150px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #ffd700;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #e6bb00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
